.formWrapper {
    grid-row: 1/3;
    grid-column: 1/4;
    margin: 5% 10%;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: #053f4a;
    font-family: var(--secFont);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    width: 80vw;
    z-index: 1;
    gap: 3rem;
    margin-top: 2%;

}

.inputs {

    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    width: fit-content;
}


.formTitle {
    font-size: 3rem;
    font-weight: 600;
    font-family: var(--mainFont);
    color: wheat;
    letter-spacing: -0.2rem;
    text-shadow: 2px 2px 3px #10bebe;
}

.label {
    font-weight: 400;
    color: #fff;

}

.input {
    letter-spacing: -0.09rem;
    outline: none;
    box-shadow: none;
    padding: 5px;
    border: none;
    font-size: 20px;
    background: none;
    border-bottom: 3px solid #10bebe;
    color: rgb(227, 238, 227);

}

input:-webkit-autofill {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset !important;
    -webkit-text-fill-color: #333 !important;
}

input:-internal-autofill-selected {
    background-color: transparent !important;
}

.buttonDog {
    grid-column: 2/3;
    width: fit-content;
    margin-left: auto;
    border: none;
    padding: 10px;
    font-size: 20px;
    background-color: #308c13;
    color: white;
    transition: all 0.2s ease-in;
}

.buttonDog:hover {
    cursor: pointer;
    background-color: #096c77;
}

.formSp {
    margin-top: 0;
    color: bisque;
    font-size: small;
    height: 5px;
}

.alter {
    height: 6px;
}

.modalButton {
    width: fit-content;
    margin-top: 7px;
    padding: 3px 10px;
    border: 2px solid #10bebe;
    font-size: 1.2rem;
    background-color: transparent;
    color: white;
    transition: all 0.2s ease-in;
}

.modalButton:hover {
    cursor: pointer;
    background-color: #096c77;
}

.backBtn {
    background-color: #072c29;
    padding: 10px 16px;
    color: #fff;
    transition: all 0.6s ease-in;
    font-size: 20px;
    font-family: var(--secFont);
    letter-spacing: -0.1rem;
    border: none;
    margin-left: 0;
}

.backBtn:hover {
    cursor: pointer;
    background-color: #096c77;
    border-radius: 3px;
}

@media screen and (max-width: 760px) {
    .inputs {
        width: 70vw;
    }

}