.favorites {
    grid-column: 1/4;
    grid-row: 3/4;
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    justify-content: space-around;
    margin: 1rem 0 0 2rem;
    padding-bottom: 1.4rem;
}

.favTitle{
    grid-row: 1/2;
    font-family: var(--mainFont);
    font-size: 2.5rem;
    color: var(--thunder);
    text-shadow: 2px 2px 2px var(--malachite);
    display: block;
}

.noFavs {
    grid-column: 1/4;
    grid-row: 3/4;
    font-size: 1.2rem;
    font-family: var(--secFont);
    font-size: 1.4rem;
    word-spacing: 3px;
    letter-spacing: -0.1rem;
    color: var(--thunder);
}
